@charset "utf-8";

body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
}
/* 헤더 스타일 */
.header {
  background-color: #1c182b; /* 어두운 보라색 배경 */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-family: Arial, sans-serif;
}

/* 로고 */
.logo {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: self-end
}

/* 네비게이션 */
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #f5c518; /* 호버 시 강조 색상 (노란빛) */
}
.wrap {
  max-width: 1400px;
  margin: 50px auto;
  padding: 0 10px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;     
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-items: center;  
  padding-left: 200px; 
}

.movie-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 200px;    
}
.movie-title {
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.movie-card img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.rank-badge {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 7px;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 5px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.like-btn,
.primary-btn {
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.like-btn {
  background: #333;
  color: #fff;
}

.primary-btn {
  background: #00aaff;
  color: #fff;
}

.primary-btn:hover {
  background: #0090dd;       
  transform: scale(1.05);    
  transition: all 0.2s ease;
}


.movie-card img {
  width: 100%;
  display: block;
  border-radius: 6px;
  transition: transform 0.3s ease; 
}

.movie-card img:hover {
  transform: scale(1.05);   
}
