@charset "utf-8";
@import url(./reset.css);

@font-face {
    font-family: 'KyoboHandwriting2024psw';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/KyoboHandwriting2024psw.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* typo */
:root {
    font-size: 10px;
    /* color */
    --gray1: #111;
    --gray2: #333;
    --gray3:#ccc;
    --gray4: #aaa;
    --white: #fff;
    --gray5: #eee;
}

body {
    font: 1.5rem/1.6 'KyoboHandwriting2024psw', sans-serif;
}

h2,
h3 {
    font-family: 'KyoboHandwriting2024psw';
}

/* 공통: phone */
#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    padding: 18px 32px;
    background: var(--white);
}

/* logo */
#logo a {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px;
    color: #111;
}

/* gnb */
#gnb {
    display: none;
}

/* sec1 */
#sec1 {
    position: relative;
}

#sec1 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#sec1 h2 span:first-child {
    color: #000000;
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 9px;
}

#sec1 h2 span:last-child {
    padding-left: 50px;
    font-size: 2rem;
}

/* sec2~4 common */
.sec {
    padding: 68px 32px 0;
}

#sec2 h2 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 16px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--gray5);
}

/* sec2 */
#sec2 h2{
    margin-bottom: 40px;
}
#sec2 li {
    position: relative;
    margin-bottom: 16px;
}

#sec2 h3 {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white);
    background: var(--gray1);
    font-size: 15px;
    line-height: normal;
    padding: 10px 15px;
}

/* sec3 */
#sec3 h2 {
    margin-bottom: 20px;
}

#sec3>p {
    margin-bottom: 40px;
}
#sec3 li{
    margin-bottom: 32px;
}
#sec3 li h3 {
    color: var(--gray1);
    font-size: 2.4rem;
}

#sec3 li p:first-of-type {
    color: var(--gray4);
    margin: 18px 0;
}

#sec3 li a {
    display: block;
    padding: 7px 0  8px 0;
    color: var(--gray2);
    background: var(--gray4);
    text-align: center;
    margin-top: 14px;
}
#sec3 li a:hover{
    color:var(--gray1);
    background: var(--gray3);
}
#sec3 li img{
    filter:saturate(30%)
}
/* sec4 */
#sec4 > p{
    margin-bottom: 16px;
}
#sec4 input{
    display: block;
    width: 100%;
    border: 1px solid var(--gray3);
    padding: 8px;
    margin-bottom: 16px;
}
#sec4 ::placeholder{
    color:var(--gray4);
}
#sec4 button{
    color: #fff;
    font-size: 1.5rem;
    background: var(--gray1);
    padding: 8px 16px;
    margin: 32px 0 48px 0;
}
/* footer */
#footer{
    text-align: center;
    background: var(--gray2);
    color:var(--white)
}
#footer span:first-child{
    display: none;
}
#footer span:last-child{
    display: block;
}
/* tablet */
@media(min-width:768px) {}

/* desktop */
@media(min-width:1200px) {}