@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
.section {
  height: 1300px;
  width:1920px;
  text-align: center;
}
.header {
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: #f9e3ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 170px;
  height: 100px;
  margin-left: 30px;
}
.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
.logo-section {
  background: rgb(255, 255, 255);
}
.logo-section h1 {
    color: bisque;
  font-size: 36px;
}

/* 슬라이더 영역 */
.fade-slider {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* 공통 이미지 스타일 */
.fade-img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 1000px;
  object-fit: cover;
  opacity: 0;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* 각 이미지 페이드 타이밍 설정 */
.img1 {
  animation-name: fade1;
}
.img2 {
  animation-name: fade2;
  opacity: 0;
}
.img3 {
  animation-name: fade3;
  opacity: 0;
}

/* 키프레임 정의 */
@keyframes fade1 {
  0% { opacity: 0; }
            10% { opacity: 1; }
            33% { opacity: 1; }
            43% { opacity: 0; }
            100% { opacity: 0; }
}
@keyframes fade2 {
  0% { opacity: 0; }
            33% { opacity: 0; }
            43% { opacity: 1; }
            66% { opacity: 1; }
            76% { opacity: 0; }
            100% { opacity: 0; }
}
@keyframes fade3 {
  0% { opacity: 1; }
            10% { opacity: 0; }
            43% { opacity: 0; }
            66% { opacity: 0; }
            76% { opacity: 1; }
            100% { opacity: 1; }
}