@charset "utf-8";
* {
    box-sizing: border-box;
}
body {
    background: #fff;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
}
ul,ol {
    list-style:none;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    /* 부모 크기의 100% */
    width: 100%;
    height: 100%;
    /* 가로/세로 비율 유지
     - cover: 박스 크기에 맞게 처리 -> 빈 공간이 생기지 않지만 이미지 일부는 잘릴 수 있다.
     - contain: 박스 크기에 맞게 이미지 잘림 없이 표시되지만 빈 공간이 생길수 있다.
     -> background-size도 동일! */
    object-fit:contain;
}