@charset "utf-8";
/*기본 CSS 리셋*/
* {
    margin: 0;    /*기본 상하좌우 여백값 0으로 설정*/
    padding: 0;    /*기본 상하좌우 패딩값 0으로 설정*/
    box-sizing: border-box;    /* 패딩과 테두리를 포함하여 요소의 너비를 유지 */
}
li {
    list-style: none;    /* 목록 항목의 불릿을 숨김 */
}
a {
    text-decoration: none;    /* 링크의 밑줄을 제거 */
    color: inherit;    /* 링크의 글자 색상을 부모 요소로부터 상속받음 */
}
img {
    vertical-align: top;    /* 이미지의 아래쪽 여백을 제거하고, 상단 정렬 */
    max-width: 100%;    /* 이미지를 부모 요소의 너비에 맞춤 (이미지가 깨지지 않도록) */
}
button {
    cursor: pointer;    /* 버튼을 손가락 커서로 표시 */
}
body {
    background: #fff;    /*배경색 #fff표시-요구사항정의서*/
    color: #333;    /*글자색 #333표시-요구사항정의서*/
}
.wrap {
    height: 800px;
    position: relative;
    min-width: 1200px;
}
.top {
    height: 700px;
    display: flex;
}
header {
    width: 200px;
    background: #014C29;
    padding: 50px 5px;
}
nav {
    position: relative;
}
header h1 {
    text-align: center;
    margin-bottom: 50px;
}
nav>ul>li>a {
    display: block;
    padding: 10px 20px;
    color: #9acd84;
    border: 1px solid #9acd84;
    border-bottom: 0;
}
nav>ul>li:last-child>a {
    border-bottom: 1px solid #9acd84;
}
nav>ul>li:hover>a {
    background: #9acd84;
    color: #333;
}
.sub {
    position: absolute;
    left: 190px;
    top: -10px;
    z-index: 10;
    width: 150px;
    height: 250px;
    background: #fff;
    display: none;
}
.sub li a {
    display: block;
    background: #fff;
    padding: 10px 20px;
}
.sub li a:hover {
    background: #014c29;
    color: #fff;
}
.contents {
    width: 400px;
    background: #9acd84;
    padding: 20px 5px;
}
.notice h2 {
    width: 120px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    background: #014c29;
    border-radius: 15px 15px 0 0;
}
.notice ul {
    border-top: 3px solid #014c29;
    padding: 5px 15px;
}
.notice ul li {
    border-bottom: 1px solid #014c29;
}
.notice ul li a {
    display: block;
    padding: 5px 0;
    position: relative;
}
.notice ul li p {
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice ul li span {
    position: absolute;
    right: 0;
    top: 5px;
}
.gall {
    margin-top: 20px;
}
.gall h2 {
    width: 120px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    background: #014c29;
    border-radius: 15px 15px 0 0;
}
.gall ul {
    border-top: 3px solid #014c29;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.gall ul li {
    text-align: center;
}
.gall ul li a {
    display: block;
    height: 100%;
}
.gall ul li img {
    width: 150px;
    height: 180px;
    object-fit: cover;
}
.gall ul li .txt {
    font-weight: bold;
    margin-top: 10px;
}
.go {
    margin-top: 20px;
}
.go ul {
    border-top: 3px solid #014c29;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.go ul li {
    text-align: center;
}
.go ul li .txt {
    margin-top: 10px;
    font-size: 16px;
}
.slide {
    width: calc(100% - 600px);
    overflow: hidden;
}
.slide ul li {
    width: 100%;
    height: 700px;
    position: relative;
}
.slide ul li a {
    display: block;
    height: 100%;
}
.slide ul li.s1 {
    background: url(../images/s1.jpg) no-repeat center/cover;
}
.slide ul li.s2 {
    background: url(../images/s2.jpg) no-repeat center/cover;
}
.slide ul li.s3 {
    background: url(../images/s3.jpg) no-repeat center/cover;
}
.slide ul li .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #014c29;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 20px 0;
    font-size: 20px;
}
.slide ul li .text h2 {
    margin-bottom: 20px;
}
footer {
    height: 100px;
    background: #666;
    color: #fff;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 10px;
}
footer ul {
    display: flex;
    gap: 20px;
}
footer ul li {
    border-right: 1px solid #fff;
    padding-right: 20px;
    font-size: 14px;
}
footer ul li:last-child {
    border: none;
}
footer .fcopy {
    margin-top: 10px;
    font-size: 14px;
}
.popup {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid #014c29;
    border-radius: 20px;
    z-index: 9999;
    display: none;
}
.popup h2 {
    color: #014c29;
    margin-bottom: 20px;
}
.popup .text {
    margin: 20px 0;
}
.popup .close {
    text-align: right;
}
.popup .close button {
    background: #014c29;
    border: 0;
    padding: 10px;
    color: #fff;
}
.popup .close button:hover {
    background: #333;
}