@charset "UTF-8";

body {
    background-image: url(./../images/index/header/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.profile-section {
    width: 1400px;
    margin: 20px auto 0;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 40px;
    justify-content: center;

}

.profile-box,
.form-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    margin-top: 100px;
}

.profile-img {
    background: #333;
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.profile-box button,
.auth-btn,
.save-btn {
    width: 150px;
    height: 40px;
    border: none;
    background: #5d0cff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

.profile-box button {
    margin-left: 45px;
}

.profile-box button:hover {
    background: #8e2de2;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 8px;
}



.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.form-box label {
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 15px;
}

.form-box input {
    padding: 8px;
    border-radius: 5px;
    width: 400px;
    margin-left: 50px;
}

.btn-flex {
    display: flex;
    width: 650px;
    justify-content: space-between;

}

.auth-btn:hover {
    background: #8e2de2;
}



.save-btn {
    margin-left: 300px;
    margin-top: 20px;
}

.save-btn:hover {
    background: #8e2de2;
}

input {
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    background: transparent;
    transition: .3s;
    /* border-bottom: 1px solid #fff; */
}

.input_red {
    border: 2px solid #ff0000;
}

.input_green {
    border: 2px solid #008000;
}