@charset "utf-8";
/*기본 CSS 리셋*/
* {
	margin: 0; /*기본 상하좌우 여백값 0으로 설정*/
	padding: 0; /*기본 상하좌우 패딩값 0으로 설정*/
	box-sizing: border-box;	/* 패딩과 테두리를 포함하여 요소의 너비를 유지 */
}
li {
	list-style: none; /* 목록 항목의 불릿을 숨김 */
}
a {
	text-decoration: none; /* 링크의 밑줄을 제거 */
	color: inherit;	/* 링크의 글자 색상을 부모 요소로부터 상속받음 */
}
img {
	vertical-align: top; /* 이미지의 아래쪽 여백을 제거하고, 상단 정렬 */
	max-width: 100%; /* 이미지를 부모 요소의 너비에 맞춤 (이미지가 깨지지 않도록) */
}
button {
	cursor: pointer; /* 버튼을 손가락 커서로 표시 */
}
body {
	background: #fff; /*배경색 #fff표시-요구사항정의서*/
	color: #333; /*글자색 #333표시-요구사항정의서*/
}
.wrap{
	position:relative
}
header {
	height:100px;
	background:#003366;
}
header .inner {
	width:1200px;
	height:100%;
	margin:auto;
	background:#003366;
	padding-top:30px;
	position:relative;
}
nav {
	position:absolute;
	top:59px;
	right:0;
	z-index:10;
}
nav>ul{
	display:flex;
}
nav>ul>li>a {
	display:block;
	width:150px;
	text-align:center;
	padding:10px;
	color:#fff
}
nav>ul>li:hover>a {
	background:#f4d01f;
	color:#003366;
}
.sub{
	display:none;
}
.sub a {
	display:block;
	text-align:center;
	padding:10px 0;
	font-size:14px;
	color:#fff;
}
.sub a:hover {
	background:#003366;
	color:#fff;
}
.menuBg {
	width:100%;
	height:155px;
	background:rgba(0, 0, 0, 0.8);
	top:100px;
	left:0;
	position:absolute;
	z-index:5;
	display:none;
}	
.slide {
	width:1200px;
	height:300px;
	margin:auto;
	position:relative;
}
.slide ul li {
	width:1200px;
	height:300px;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.slide ul li a {
	display:block;
	height:100%;
}
.slide ul li.s1 {
	background:url(../images/s1.jpg) no-repeat center/cover;
	display:block;
}
.slide ul li.s2 {
	background:url(../images/s2.jpg) no-repeat center/cover;
}
.slide ul li.s3 {
	background:url(../images/s3.jpg) no-repeat center/cover;
}
.slide ul li h2 {
	color:#003366;
	text-shadow:0 5px 10px #fff;
	font-size:35px;
	position:absolute;
	top:50%;
	left:30px;
	transform:translateY(-50%);
}
.contents {
	width:1200px;
	height:200px;
	margin:auto;
	display:flex;
}
.contents article {
	width: 400px;
}
.con {
	position:relative;
	padding:10px;
}
.tabmenu {
	display:flex;
}
.tabmenu>li {
	width:150px;
	background:#D3D3D3;
}
.tabmenu>li>h2>a {
	display:block;
	text-align:center;
	padding:5px 0;
}
.tabmenu>li.on {
	background:#003366;
	color:#fff;
}
.tabcon {
	position:absolute;
	left:0;
	width:100%;
	background:#003366;
	padding:5px;
	height:140px;
}
.notice ul {
	padding:0 15px;
}
.notice ul li {
	border-bottom:1px dashed #fff;
}
.notice ul li:last-child {
	border-bottom:none
}
.notice ul li a {
	display:block;
	padding:5px 0;
	position:relative;
	color:#fff;
}
.notice ul li p {
	width:260px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.notice ul li span {
	position:absolute;
	right:0;
	top:5px;
}
.gall{
	display:none
}
.gall ul {
	display:flex;
	gap:10px;
	margin-top:20px;
	justify-content:center;
}
.gall ul li img {
	width:100px;
	height:100px;
	object-fit:cover;
}
.contents .banner {
	background:#fff;
	padding:10px;
}
.banner h2 {
	color:#003366;
	margin-bottom:10px;
}
.banner a {
	display:block;
	height:130px;
	background:url(../images/banner.jpg) center/cover;
	border-radius:30px;
	overflow:hidden;
	color:#fff;
}
.banner div {
	height:100%;
	background:rgba(0, 51, 102, 0.8);
	padding:20px;
}
.banner div h3 {
	margin-bottom:10px;
	color:#f4d01f;
}
.banner div h3 span {
	font-weight:300;
}
.go {
	padding:10px;
}
.go h2 {
	color:#003366;
	margin-bottom:20px;
}
.go ul {
	display:flex;
	gap:10px;
	justify-content:center;
	text-align:center;
}
.go ul li a {
	display:block;
	height:100%;
}
.go ul li p {
	width:80px;
	height:80px;
	background:#003366;
	padding-top:20px;
	border-radius:20px;
	margin-bottom:10px;
}
.go ul li span {
	font-weight:bold;
}
footer {
	height:120px;
	background:#666;
	color:#fff;
}
footer .inner {
	width:1200px;
	height:100%;
	margin:auto;
	background:#666;
	display:flex;
	gap:30px;
	align-items:center;
}
.fmenu {
	display:flex;
	gap:10px;
}
.fmenu li {
	border-right:1px solid #fff;
	padding-right:10px;
	font-size:14px;
}
.fmenu li:last-child {
	border-right:none;
}
.popup {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:9999;
	display:none;
}
.popcon {
	position:relative;
	width:500px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background:#003366;
	text-align:center;
	padding:20px;
	color:#fff;
	border-radius:20px;
}
.popcon h2 {
	margin-bottom:20px;
}
.popcon .text {
	margin:20px 0;
}
.popcon .close {
	text-align:right;
}
.popcon .close button {
	background:#330;
	border:0;
	padding:10px;
	color:#fff;
}
.popcon .close button:hover {
	background:#f4d01f;
	color:#000;
}