@charset "utf-8";
@import url(common.css);

/* 섹션3 */
.appbbs_area {
    padding: 56px 0 136px;
    background: white;
}
.appbbs_area .box_inner {
    display: flex;
}
.notice {
    margin-left: 60px;
    line-height: 2;
}
.notice h3 {
    font:26px 'GothicA1-Light',sans-serif;
    margin-bottom: 8px;
}
.notice ul {
    list-style: disc;
}
.link {
    background: url("https://picsum.photos/seed/picsum/200/300") no-repeat 0 0/cover;
    padding: 48px;
}
.link a {
    display: inline-block;
    border: 2px solid #fff;
}
.link a:first-of-type {
    margin-right: 6px;
}