@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/*sec1*/
.sec1 {
  height: 930px;
  background: url(./../images/brand/sec1-bg.jpg);
  display: flex;
}

.sec1-left {
  margin-left: 108px;
  color: #fff;
}

.sec1-left>.logo {
  margin-top: 120px;
}

.description {
  font-size: 27px;
  margin-bottom: 42px;
  opacity: 0.7;
}

.down-script {
  font-weight: 350;
  margin-bottom: 10px;
  opacity: 0.5;
}

.social-icons {
  text-align: right;
  opacity: 0.5;
  margin-bottom: 25px;
}

.sec1-right {
  margin-left: 85px;
  margin-top: 620px;
}

.sec1-right>video {
  width: 380px;
  height: 240px;
  filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.8));
}

.sec1-right>video:first-child {
  margin-right: 50px;
}

/*sec2*/
.sec2-wrapper {
  height: 2000px;
  /* 배경 전체 스크롤 영역 */
  position: relative;
}

.sec2 {
  position: sticky;
  top: 0;
  height: 1080px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2400px;
  background: url("./../images/brand/sec2-bg1.jpg") no-repeat center top;
  background-size: cover;
  will-change: transform;
  z-index: 0;
}

.typo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

.typo>img {
  text-align: center;
}

.typo p {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 88px;
}

.typo>p:first-of-type {
  font-size: 24px;
  color: #88818b;
}

.second-line {
  display: block;
}

.typo>a {
  font-size: 18px;
  font-weight: bold;
  color: #a888aa;
}

/*sec3*/
.sec3 {
  height: 900px;
  background: linear-gradient(to bottom, #06010c 80%, #342445 100%);
}

.sec3 .btypo {
  margin-left: 80px;
  margin-top: 125px;
}

.sec3_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container {
  margin-top: 50px;
  display: flex;
  gap: 0;
}

.flip-card {
  width: 540px;
  height: 454px;
  perspective: 1000px;
  margin: 0;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  object-fit: contain;
  border-radius: 10px;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.sec3_typo {
  display: flex;
}

.typoarea {
  text-align: left;
  width: 250px;
}

.typoarea>a {
  display: block;
  color: #847294;
  font-weight: bold;
}

.sec3_typo>.typoarea:first-child {
  margin-left: 320px;
}

.sec3_typo>.typoarea:nth-child(2) {
  margin-left: 285px;
}

.sec3_typo>.typoarea:last-child {
  margin-left: 290px;
}

/*sec4*/
.sec4 {
  width: 1905px;
  height: 1080px;
  background: url(./../images/brand/sec4-bg.jpg) no-repeat center center;
  font-family: sans-serif;
  overflow: hidden;
  color: #fff;
}

.sec4-typo {
  margin-left: 80px;
  margin-top: 110px;
}

.sec4-typo h2 {
  font-size: 72px;
}

.sec4-typo p {
  font-size: 32px;
}

.carousel-section {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 300px;
  height: 100%;
  align-items: center;
  margin-top: 0px;
  gap: 120px;
  scroll-snap-type: x mandatory;
  cursor: grab;
  margin-bottom: 300px;
}

.carousel-container:active {
  cursor: grabbing;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 670px;
  height: 405px;
  color: #fff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  user-select: none;
  z-index: 0;
}

.carousel-item:hover {
  transform: scale(1.2);
  z-index: 10;
}

/*sec5*/
.sec5 {
  height: 445px;
  background: #1e191e;
  display: flex;
}

.sec5_left {
  width: 1000px;
  height: 250px;
  margin-top: 97px;
  margin-left: 145px;
}

.sec5_left h2 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #eae1ea;
}

.sec5_left p {
  font-size: 16px;
  color: #676167;
}

.some p {
  font-size: 29px;
  color: #958e95;
}

.some {
  margin-bottom: 10px;
}

.sec5_right {
  margin-left: 130px;
  margin-top: 158px;
}