@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

body {
    overflow: hidden;
}


.bglist {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    opacity: 1;
}

/* 로그인박스 */
.login_box {
    width: 450px;
    height: 650px;
    margin: 7.15% auto;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 50px 0px #000;
    text-align: center;
}

/* 로그인박스 상단 */
.login_box_top {
    width: 320px;
    height: 135px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    /* border: 1px solid #fff; */
}

.login_box_top img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.login_box_top h2 {
    font-size: 24px;
    padding-top: 20px;
}

/* 로그인폼 */
.input_box {
    position: relative;
    width: 320px;
    height: 55px;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    margin-top: 30px;
}

.input_box label {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 14px;
    transition: .3s;
    transform: translateY(-50%);
}

.input_box input:focus~label,
.input_box input:valid~label {
    font-size: 0.8rem;
    top: 2px;
    transform: translateY(-120%);
}

.input_box input {
    width: 320px;
    height: 55px;
    background: transparent;
    color: #fff;
    border: none;
}

.input_box input[type="password"] {
    position: relative;
}

.toggle {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 10px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.toggle.show {
    display: block;
}

/* 로그인버튼 */

.login,
.sign_up {
    display: inline-block;
    width: 320px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .3s;
    border: none;
    border-radius: 10px;
    margin: 30px 0;
    font-size: 16px;
    font-weight: bold;
}

.sign_up {
    background: #124576;
}

.sign_up:hover {
    background: rgba(255, 255, 255, 0.15);
}

.login:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.login_box_bottom {
    height: 194px;
}

/* 로그인박스 하단 */

.login_box_bottom {
    width: 320px;
    height: 235px;
    margin: 0 auto;
}

.login_box_bottom p {
    padding: 10px 0 20px;
    border-bottom: 1px solid;
}

.other {
    width: 320px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 60px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

.box:nth-of-type(1) {
    background: #1877F2;
}

.box:nth-of-type(2) {
    background: #fff;
    color: green;
}

.box:nth-of-type(3) {
    background: #000;
}

.box:nth-of-type(4) {
    background: #027D00;
}

.box:hover {
    opacity: .7;
}