@charset "utf-8";


body {
  background-image: url(./../images/index/header/bg.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
}

.support-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(26, 44, 89, 0.60) 49.52%, rgba(0, 0, 0, 0.60) 100%);
  width: 1500px;
  height: 100%;
  margin: 50px auto;
  padding: 20px;

}

/* 상단제목 */
.support-title {
  text-align: center;
  margin-bottom: 30px;
}

.support-title h1 {
  margin-bottom: 48px;
}

.support-title h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* 주요메뉴 */
.main-support-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  list-style: none;
}

.main-support-menu li {
  flex: 1;
}

.main-support-menu a {
  display: block;
  background: #1e1e3f;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #444;
}

.main-support-menu a span {
  display: block;
  font-size: 28px;
  margin-bottom: 10px;
}

.main-support-menu a.active,
.main-support-menu a:hover {
  background: #2e2e60;
  border-color: #00aaff;
}

.support-content {
  display: flex;
  gap: 40px;
}

/* 사이드메뉴 */
.side-menu {
  width: 200px;
}

.side-menu a.active,
.side-menu ul {
  list-style: none;
}

.side-menu li a {
  display: block;
  padding: 12px 20px;
  background: #1a1a33;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #444;
}

.side-menu li a.active,
.side-menu li a:hover {
  background: #2d2d4d;
  color: #00ccff;
}

/* 본문영역 */
.main-content {
  flex: 1;
}

.main-content h3 {
  font-size: 22px;
  margin-bottom: 15px;

}

.main-content p {
  font-weight: bold;
  padding: 10px 10px;
  border: 1px solid #444;
}

ul.help-text {
  font-size: 14px;
  line-height: 2;
  border: 1px solid #444;
  padding: 10px 10px;
}

.help-text li {
  padding-left: 6px;
  list-style: none;
}

.video-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.video-wrapper iframe {
  width: 320px;
  height: 180px;
  border: none;
  border-radius: 10px;
}