* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./../images/index/header/bg.jpg);
  font-family: 'Arial', sans-serif;
  color: white;
  width: 1920px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #060b1b;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li {
  cursor: pointer;
  color: #aaa;
}

.nav-links li:hover {
  color: #fff;
}

.ranking-container {
  padding: 40px 200px;
}

.ranking-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #666;
  border-radius: 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #5f2efc;
  color: white;
  font-weight: bold;
}
.search-bar{
    margin-left: auto;
}
.search-bar input {
  margin-left: auto;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 200px;
}

.ranking-list {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #442eff;
  border-radius: 20px;
  padding: 20px;
}
.ranking-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid transparent; /* 처음부터 border 자리를 확보 */
  border-radius: 15px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.ranking-item:hover {
  background-color: rgba(30, 0, 120, 0.3);
  border: 2px solid #442eff;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.ranking-item:last-child {
  border-bottom: none;
}

.ranking-item img {
  width: 100px;
  height: auto;
  margin: 0 20px;
  border-radius: 10px;
}

.rank {
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  text-align: center;
}

.title {
  font-size: 18px;
  flex: 1;
}

.highlight {
  background-color: rgba(30, 0, 120, 0.3);
  border: 2px solid #442eff;
  border-radius: 15px;
  padding: 15px;
}

a {
    font-family: 'Arial';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 30px auto 0; 
  background-color: #442eff;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
 } 
  
a svg {
  width: 32px;
  height: 32px;
  fill: white;
}

a:hover{
    background: #5f2efc;
}

.footer {
  padding: 40px;
  background-color: #060b1b;
  text-align: center;
  font-size: 14px;
  color: #777;
}
