@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url(./../images/sign_up/sign_up_bg.jpg);
}

input {
    outline: none;
    transition: .5s;
}

.sign_up {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sign_up_info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 60px;
    margin-top: 60px;
    margin-left: 100px;
}

.text {
    margin-left: 200px;
    margin-bottom: 190px;
}

.text p {
    font-size: 80px;
    font-weight: bold;
}


.step {
    width: 130px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.step_bar {
    width: 40px;
    height: 10px;
    background: #878787;
    transition: .3s;
}

.now_step {
    background: #23428f;
    transform: scaleY(1.5);
}

.sign_up_list {
    position: relative;
    width: 400px;
    height: 540px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0px 0px 20px 0px #23428f;
    border-radius: 20px;
    margin: 30px 100px 0 0;
    color: #fff;
}

.sign_up_list form {
    width: 320px;
    height: 530px;
    margin: 0 auto;
}

.sign_up_list .title {
    padding: 20px 0 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.sign_up_list input {
    width: 320px;
    height: 50px;
    background: transparent;
    color: #fff;
}

.border {
    border: none;
    border-bottom: 2px solid #fff;
}


.sign_up_list input+div {
    font-size: 12px;
    padding: 10px 0 0;
    color: #878787;
}


.btn {
    z-index: 2;
    position: absolute;
    left: 150px;
    top: 380px;
}

.sign_up_list button {
    width: 100px;
    height: 100px;
    font-size: 80px;
    margin: 0 auto;
    background: transparent;
    transition: .3s;
    border-radius: 20px;
    border: 1px solid #747474;
    color: #333;
    cursor: pointer;
    margin-top: 30px;
}

.state {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#state {
    height: 50px;
    background: transparent;
    color: #fff;
    margin-top: 10px;
}

#state option {
    color: #333;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
    margin-top: 5px;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
}

.agree_btn {
    margin-top: 10px;
    width: 8px;
    height: 8px;
}

.agree_btn+label {
    font-size: 12px;
}

.pw {
    margin-top: 20px;
}

.sign_up_box {
    position: absolute;
    top: 0;
    left: 40px;
    opacity: 0;
    transition: opacity .1s;
}

.active {
    z-index: 1;
    opacity: 1;
}

.sign_up_list button:hover {
    background: #0b3464;
    color: #fff;
}

.input_green {
    border: 1px solid #008000;
}

.input_red {
    border: 1px solid #ff0000;
}