bo@charset "utf-8";

/* 공통 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 15px/1.6 "돋움", sans-serif;
    background: #fff;
    color:#333;
}
ul {
    list-style:none;
    /* margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px; */
}
a {
    text-decoration: none;
    color:#333;
}

/* 상단 영역 */
.wrap {
    display: flex;
    height: 850px;
}
/* 헤더 영역 */
header {
    padding-top: 24px;
    width: 200px;
    background: #e2e2e2;
}
.gnb {
    text-align: center;
}
nav {
    padding: 20px;
}
nav a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #333;
    font-size: 18px;
    margin-top: 4px;
}
nav a:hover {
    background: #E6001E;
    color: #fff;
}
.spotmenu a {
    color: #555;
}
.spotmenu a:not(:last-child):after {
    content: ' |';
    margin: 8px;
}
.spotmenu a:hover {
    text-decoration: underline;
    color: #333;
}

/* 오른쪽 영역 */
.container {
    width: calc(100% - 200px);
}
/* 슬라이드 이미지 */
.slide {
    height: 400px;
}
/* 바로가기 링크 */
.link {
    position: absolute;
    right:0;
    top:0;
    width: 120px;
    height: 340px;
    background: #A88140;
    text-align: center;
}
.link li {
    margin-top: 16px;
}
.link span {
    display: block;
}

/* 배너 */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    height: 200px;
    background: #699CBA;
}
.cont {
    display: flex;
}
.cont img {
    margin-right: 32px;
}

/* 공지사항 및 갤러리 */
.tabs {
    height: 250px;
    padding: 30px 35px;
    line-height: 2;
}
.tabs a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0 16px;
}
.tabs a:hover {
    background: #BD1218;
    color: #fff;
}


/* 푸터 영역 */
footer {
    display: flex;
    align-items: center;
    height: 120px;
    background: darkgray;
}
/* 하단 로고 */
.blogo {
    width: 200px;
}
/* 오른쪽 콘텐츠 */
.right {
    padding-left: 60px;
}
/* 하단 메뉴 */
.bmenu {
    display: flex;
    height: 30px;
}
.bmenu li:not(:last-child):after {
    content: ' | ';
    margin: 8px;
}
/* 주소 및 저작권 */