@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
img{
    vertical-align: top;
}

/* typo system */
body{
    font:15px/1.6,"Noto Sans kr",sans-serif;
}
#section4 {
    color: var(--main-color);
}
#section4 .description p {
    font-style: 20px;
    line-height: 160%;
    color: var(--main-color);
}
#section4 .description a {
   
    color: var(--main-color);
}
/* color system */
:root{
    --main-color: #fff;
}