@charset "UTF-8";

@font-face {
  font-family: 'Ownglyph_Memo_Okja-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Memo_Okja-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Ownglyph_Memo_Okja-Rg', 'Noto sans kr', sans-serif;
  overflow-x: hidden;
  background: url(../images/배경사진.jpg);
}