@charset "utf-8";
/* header */
/* header */
header {
  position: relative;
  z-index: 9999;
  background: #0D2235;
  padding: 10px 0;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
}

.header_logo {
  padding-left: 90px;
  padding-top: 10px;
}

.main {
  width: 1600px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main>li {
  width: 140px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}


.main::before {
  content: "";
  background: rgba(13, 34, 53, 0.9);
  height: 0;
  width: 1920px;
  position: absolute;
  top: 120px;
  left: 0;
  transition: .3s;
}

.main:hover::before {
  height: 200px;
}


.sub {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: .3s;
}

.sub li {
  padding: 30px 0 0;
}

.sub a {
  padding: 0 30px 0;
  text-align: center;
  font-size: 2.5rem;
  transition: .3s;
}

.sub>li>a:hover {
  color: #777;
}

.main:hover .sub {
  visibility: visible;
  opacity: 1;
  height: 200px;
}