@charset "utf-8";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
  margin: 0;
}

.tilt-image img {
  width: 300px;
  animation: tilt 2s ease-in-out infinite alternate;
}

@keyframes tilt {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
