@charset "UTF-8";

body {
  height: 100%;
}

.section {
  height: 200vh;
}

.calendar_info {
  width: 80%;
  padding: 80px 0;
  background: rgba(2, 2, 2, 0.4);
  margin: 0 auto;
  margin-top: 100px;
}

.month {
  color: #fff;
  text-align: center;
  padding: 30px 0;
  font-size: 4.8rem;
}

.calendar_wrap {
  background: transparent;
  margin: 0 auto;
  text-align: center;
}

table th {
  padding: 30px 0;
  font-size: 2rem;
}

table tr {
  border: 1px solid #333;
}

table td {
  position: relative;
  padding: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2rem;
}

.calendar_wrap table {
  width: 80%;
  margin: 0 auto;
}

.empty {
  background: transparent;
}

.stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.gauge_box {
  text-align: center;
  padding: 50px 0;
  font-size: 1.8rem;
}

.gauge {
  position: relative;
  width: 40%;
  height: 20px;
  margin: 20px auto 0;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.gauge_bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #666;
  height: 20px;
}

.today_diary {
  width: 80%;
  background: rgba(2, 2, 2, 0.4);
  margin: 140px auto 0;
  padding-bottom:40px ;
}

.today_info {
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
}

.diary_input_box {
  width: 50%;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}

#diary_input {
  width: 80%;
  height: 50px;
  margin-left: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #777;
  background: transparent;
}

#add_btn {
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  border: none;
}

#diary_list {
  margin: 0 auto;
  overflow-y: scroll;
}

/* 스크롤바 전체 */
#diary_list::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤 트랙 (배경) */
#diary_list::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

/* 스크롤 thumb  */
#diary_list::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

#diary_list::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

#diary_list li {
  width: 50%;
  height: 80px;
  color: #fff;
  font-size: 30px;
  line-height: 80px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 30px auto;
  padding-left: 30px;
}

@media (max-width: 768px) {

  .calendar_info {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .stamp {
    width: 30px;
  }

  .gauge {
    width: 330px;
  }

  .diary_input_box {
    width: 60%;
    margin: 0 auto;
  }

  #diary_input {
    margin: 0;
    width: 200px;
    padding-left: 10px;
    font-size: 1.2rem;
  }

  #add_btn {
    margin-left: 10px;
    width: 50px;
  }

  #diary_list li {
    width: 70%;
    height: 50px;
    line-height: 50px;
    font-size: 2.5rem;
    margin: 20px auto;
  }
  .today_diary {
    margin: 0 auto;
  }

}